
<% content_for :page_title, @article.title %>

<% unless @video_id.blank? %>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= @video_id %>?rel=0" frameborder="0"></iframe>
<% end %>

<% unless @soundcloud_embed.blank? %>
  <%= @soundcloud_embed.html_safe %>
<% end %>

<div class='article-body'>
  <%= @article.body.html_safe %>
</div>
