
<nav class='articles'>
  <% @groups.each do |group| %>
    <h3><%= group.name %></h3>

    <% if group.articles.any? %>
      <div class="grid-container">
      <% group.articles.each do |article| %>
        <div class="one-half">
          <%= link_to article.title, [group, article] %>
        </div>
      <% end %>
     </div>
    <% else %>
      <p>No articles have been created yet. :(</p>
    <% end %>
  <% end %>
</nav>
