
<h1 class='page-title'><%= link_to @group.name, short_group_path(@group) %></h1>

<p id="notice"><%= notice %></p>

<nav class='articles'>
  <% if @group.articles.any? %>
    <% @group.articles.each do |article| %>
      <%= link_to article.title, [@group, article] %>
    <% end %>
  <% else %>
    <p>No articles have been created for this group yet. :(</p>
  <% end %>
</nav>
