
<% content_for :page_title, @group.name %>

<% content_for :featured_image, @group.featured_image.url if @group.featured_image.present? %>

<nav class='articles'>
  <% if @group.articles.any? %>
    <div class="grid-container">
      <% @group.articles.each do |article| %>
        <div class="one-half">
          <%= link_to article.title, [@group, article] %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No articles have been created for this group yet. :(</p>
  <% end %>
</nav>

<div class='arrow-nav'>
  <% unless @prev.blank? %>
      <%= link_to "<< Previous Group", @prev, class: 'previous' %>
  <% end %>
  <% unless @next.blank? %>
      <%= link_to "Next Group >>", @next, class: 'next' %>
  <% end %>
</div>
