
<% content_for :page_title, @group.name %>

<nav class='articles'>
  <% if @group.articles.any? %>
    <div class="grid-container">
      <% @group.articles.each do |article| %>
        <div class="one-half">
          <%= link_to article.title, [@group, article] %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No articles have been created for this group yet. :(</p>
  <% end %>
</nav>
