
<nav class='articles'>
  <% @groups.each do |group| %>
    <h3><%= link_to group.name, group %></h3>

    <% if group.articles.any? %>
      <% group.articles.each do |article| %>
        <%= link_to article.title, article_path(article) %>
      <% end %>
    <% else %>
      <p>No articles have been created yet. :(</p>
    <% end %>
  <% end %>
</nav>
