
<nav class='articles'>
  <% @groups.each do |group| %>
    <h3><%= link_to group.name, short_group_path(group) %></h3>

    <% if group.articles.any? %>
      <% group.articles.each do |article| %>
        <%= link_to article.title, [group, article] %>
      <% end %>
    <% else %>
      <p>No articles have been created yet. :(</p>
    <% end %>
  <% end %>
</nav>
