
<h1>Welcome to Karuna</h1>

<p>Karuna helps people deal with loss in ways that transform and enrich lives. Karuna offers a strength based model of care to:</p>

<ul>
  <li>Minimize fear and pain for people who are dealing with the loss of life </li>
  <li>Transform the way society and individuals think about and experience death</li>
  <li>Help people accept the transient nature of life and use it as a catalyst to make it more meaningful</li>
</ul>

<p>Karuna’s services are linked to the times in life when people are most likely to be seeking answers and care either for themselves or others. These include situations where lives are limited by illness, when facing death or dying, when grieving and when seeking meaning in life.</p>

<div class="grid-container">
  <div class="two-thirds">
    <p>Karuna relies heavily on the kindness of others as just over 50% of organisation’s funding for home care comes from Queensland Health and the remaining money must be raised through donations.</p>
  </div>
  <div class="one-third">
    <%= link_to 'Donate', "https://secure4.everydayhero.com.au/event/karunadonate/donate", class: 'button donate-button' %>
  </div>
</div>
