
<% content_for :page_title, "Guided meditation" %>

<nav class='articles'>
  <% if @meditations.any? %>
    <div class="grid-container">
      <% @meditations.each do |meditation| %>
        <div class="one-half">
          <%= link_to '', meditation, class: 'article-thumb', style: ("background-image: url(#{meditation.images.first.url.url}); -webkit-background-size: cover; background-size: cover;" if meditation.images.any? && meditation.images.first.url.present?) %>

          <%= link_to meditation.name, meditation, class: 'article-link' %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No meditations have been created yet. :(</p>
  <% end %>
</nav>
