
<% content_for :page_title, "Guided meditation" %>

<% if @meditations.any? %>
  <nav class='meditations'>
    <% @meditations.each do |meditation| %>
      <%= link_to meditation.name, meditation %>
    <% end %>
  </nav>
<% else %>
  <p>No meditations have been created yet. :(</p>
<% end %>
