
a, a:visited {
  color: $color-primary;

  &:hover {
    cursor: pointer;
    color: darken($color-primary, 10%);
  }
}

button, .button {
  border-radius: 1.5em;
  padding: .5em 1.5em;
}

.footer {
  background: $color-primary;
  color: $white;

  a { color: $white; }

  .social-links {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 .5em;

    li {
      display: inline-block;
      padding: 0;

      &:before { display: none; }
    }
  }

  .one-half { float: left; }
  .one-half.last { text-align: right; }

  .footer-nav-links { font-size: 90%; }
}

@media screen and (max-width: $breakpoint-small) {

  body {

    .logo {
      float: none;
      display: block;
      margin: auto;
    }

    .header .page-title {
      float: none;
      padding: .333em .5em;
      margin: 0;
    }

    .header .container {
      padding: 0;
    }

    .group-nav {
      float: none;
      margin: 1em .75em;

      a { border-radius: 1em; }
    }
  }
}

.donate-button {
  background-color: $color-success;
  font-size: 1.5em;
  font-weight: bold;
}



@media screen and (max-width: 32rem) {
  .one-half:not(.no-break), .one-third:not(.no-break),
  .two-thirds:not(.no-break), .one-quarter:not(.no-break),
  .three-quarters:not(.no-break) {
    display: block;
  }
}
