
.header {
  background: asset-url("default_hero.jpg") no-repeat center;
  background-color: #888;
  @include background-size(cover);
  overflow: hidden;

  .page-title {
    float: right;
    clear: both;
    color: $white;
    margin-bottom: .25em;
    padding: .125em .25em;
    font-size: 2.5em;
    line-height: 1.25em;
    background: $color-primary;
  }

}

.logo {
  float: left;
  width: 12em;
  margin: auto;
  background: $white;

  &.red {
    background: $color-primary;
  }
}


.article-thumb {
  display: block;
  background-color: #ddd;
  background-image: asset-url("logomark-white.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 12em;
  border-radius: .33em;
  @include background-size(10em);
}


.article-link {
  display: block;
  margin: .75em 0;
  font-size: 1.25em;
  line-height: 1.333em;
  font-family: $font-family-headings;
}
