
.header {
  background: asset-url("default_hero.jpg") no-repeat center;
  background-color: #888;
  @include background-size(cover);
  overflow: hidden;

  .page-title {
    float: right;
    clear: both;
    color: $white;
    margin-bottom: .25em;
    padding: .125em .25em;
    font-size: 2.5em;
    line-height: 1.25em;
    background: $color-primary;
  }

}

.logo {
  float: left;
  width: 20em;
  margin: auto;
  background: $white;

  &.red {
    background: $color-primary;
  }
}
