

.meditation-player {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  min-width: 280px;
  text-align: center;
  @include transform(translate(-50%,-50%));

  &.playing {
    .play-pause,
    .progress-indicator {
      background-color: $color-primary;
      background-color: rgba($color-primary, .75);
    }
  }
}

.meditation-progress,
.progress-indicator {
  background-position: 1em;
  background-repeat: no-repeat;
  @include background-size(10em);
}

.meditation-progress {
  display: block;
  position: relative;
  width: 12em;
  height: 12em;
  margin: 0 auto 1.5em;
  overflow: hidden;
  background-color: white;
  background-color: rgba(white, .5);
  border-radius: 1em;
  cursor: pointer;
  background-image: asset-url("logomark.png");
}

.progress-indicator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $gray-dark;
  background-color: rgba($gray-dark, .75);
  pointer-events: none;
  background-image: asset-url("logomark-white.png");
}

.meditation-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: black;
  color: white;

  .slick-carousel, .slick-list, .slick-track {
    margin: 0;
    height: 100%;
  }

  .slick-slide {
    background-position: center;
    @include background-size(cover);
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5em;
  }
}

#meditation-audio {
  position: fixed;
  bottom: 0;
  z-index: 0;
  left: 0;
  height: 40px;
  width: 40px;
  opacity: 0;
  visibility: hidden;
}
