
$color-primary: #C4064E;

.logo {
  display: block;
  max-width: 20em;
  margin: auto;
}


a {
  color: $color-primary;

  &:hover {
    cursor: pointer;
    color: darken($color-primary, 10%);
  }
}
