

.logo {
  display: block;
  max-width: 20em;
  margin: auto;
}


a, a:visited {
  color: $color-primary;

  &:hover {
    cursor: pointer;
    color: darken($color-primary, 10%);
  }
}

.footer {
  text-align: center;
}


nav a {
  display: block;
}
